
table{
  border: 5px solid black;
  height: 399px;
  width: 399px;

}
td{
  border: 5px solid black;
  text-align: center;
  height: 133px;
  width: 133px;
  font-size: 90px;
}

.playersDisplay{
  font-size: 20px;
}
/*.container {
  display: none;
}*/

#board, .player {
  display: none;
}

.player{
  font-size: 30px;
}

#x-button, #o-button{
  width: 100px;
}


/*#player-choice {
  display: none;
}
#other-choice {
  display: none;
}
#player-choice2 {
  display: none;
}
#other-choice2 {
  display: none;
}*/
.blah1{
  display: none;
}
.blah2{
  display: none;
}
